# Drizzle
DATABASE_URL="postgresql://root:mysecretpassword@localhost:5432/local"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""

# Discord
DISCORD_BOT_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_LEETCODE_ROLE_ID=""
DISCORD_DAILY_ANIMAL_WEBHOOK_URL=""
DISCORD_LEETCODE_DAILY_WEBHOOK_URL=""